extends layout

include ../views/mixins/serie

block content
	form.form-signin.text-center(method='post', action='/series/add')
		h1.h3.mb-3.font-weight-normal Formulario
		label.sr-only(for='titulo') Título de la serie:
		input#titulo.form-control(type='text', name='titulo', placeholder='Título', autofocus='autofocus', value=serie.titulo)
		label.sr-only(for='categoria') Categoría:
		input#titulo.form-control(type='text', name='categoria', placeholder='Categoría', value=serie.categoria)
		label.sr-only(for='descripcion') Descripción:
		textarea#descripcion.form-control(name='descripcion', placeholder='Contenido del comentario', value=serie.descripcion)
		label.sr-only(for='imagenSerie') Imagen:
		input#imagenSerie.form-control(type='text', name='imagenSerie',value=imagenSerie, placeholder='URL Imagen')
		input.form-control(type='hidden', name='idSerie', value=id)
		button.btn.btn-lg.btn-primary.btn-block(type='submit') Guardar
