extends layout

include ../views/mixins/serie

block content
	form.form-signin.text-center(method='post', action='/series/editSerie')
		h1.h3.mb-3.font-weight-normal Editar Serie
		label(for='titulo') Título de la serie:
		input#titulo.form-control(type='text', name='titulo', value=titulo, autofocus='autofocus', required)
		label(for='categoria') Categoría:
		input#categoria.form-control(type='text', name='categoria', value=categoria, required)
		label(for='descripcion') Descripción:
		textarea#descripcion.form-control(name='descripcion', value=descripcion, required)
		label(for='imagenSerie') Imagen:
		input#imagenSerie.form-control(type='text', name='imagenSerie', value=imagen, required)
		input.form-control(type='hidden', name='idSerie', value=idSerie)
		button.btn.btn-lg.btn-primary.btn-block(type='submit') Guardar